body {
  margin: 0;
  background-image: url("../Image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ContainerWether {
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(24, 21, 23, 0.829);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
  padding-top: 10px;
}

.ContainerWether input {
  padding: 10px;
  background-color: rgba(24, 21, 23, 0.829);
  border: 1px solid;
  border-radius: 20px;
  width: 80%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: wheat;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8%;
}

.ContainerWether #country {
  font-style: normal;
  font-weight: bold;
  color: aliceblue;
}

.ContainerWether div {
  font-style: normal;
  font-weight: bold;
  color: aliceblue;
}
.desc,
.wind {
  font-style: normal;
  font-weight: bold;
  color: aliceblue;
  margin: 10px;
}
